:root{
    --sun-size: 10em;
    --Merkurius-orbit: 3em;
    --Venus-orbit:6em;
    --Jorden-orbit:12em;
    --Mars-orbit:18em;
    --Jupiter-orbit:27em;
    --Saturnus-orbit:40em;
    --Uranus-orbit:48em;
    --Neptunus-orbit:53em;

}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

.error{
    color: white;
    vertical-align: middle;
}

.error_mode{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body{
    background: #000;
    background: linear-gradient(to right, rgb(0, 0, 20),rgb(5, 24, 52));

}

.wrapper{
    margin: 0 auto;
    position: relative;
    height: 100vh;
    background: linear-gradient(to right, rgb(0, 0, 20),rgb(9, 41, 90));

}

.header{
    position: absolute;
    right: 0;
    margin: 3rem;
}

.header__logo{
    display: flex;
    flex-direction: column;
    color: #eee;
    justify-content: flex-end;
    text-align: right;
    margin-bottom:  2rem ;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


}
.header__logo .header__logo-title {
    font-size: 3rem;

}

.header__logo .header__logo-latinName {
    font-size: 1.5rem;
    letter-spacing: 1.5rem;
    color: #FFD029;
}


/* Search section ----------------------------------- */
.search {
    position: relative;
    
}
.search .search_bar {
    display: flex;
    padding: .5rem;
    min-width: 400px;
    background: rgb(162, 192, 222);
    border-radius: 10em;
    appearance: none;
    outline: none;
    transition: transform .5s;
}

.search .search_bar:focus{
    transform: scale(1.1);
    transition: transform .5s;
}


.search__suggestion{
    position: absolute;
    width: 95%;
    top: 100%;
    left:50%;
    transform: translate(-50%, 0);
    color: white;
    display: flex;
    flex-direction: column;
    list-style: none;
    background: rgba(56, 80, 218, 0.2);
    animation: dropdown .3s forwards;
}

@keyframes dropdown {
    0% {opacity:0; }
    100% {opacity:1;}
}
.search__suggestion li{
    margin: 0;
    padding: .5rem;
    animation-delay: 1s;
    transition: background-color .3s;
}
.search__suggestion li:hover {
    background-color:rgba(255,255,255,.5);

}

/* Search section ----------------------------------- */


/* Pop up section ----------------------------------- */
.popup{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.7);
    z-index: 100;
    justify-content: center;
    align-items: center;
    display: none;
}
.popup__container{
    max-width: 1440px;
    margin: 0 auto;
}
.popup__card {
    max-width: 970px;
    background: linear-gradient(to right, rgb(14, 44, 71), rgb(2, 18, 33));
    color: white;
    padding: 1rem;
}

.popup__header,
.popup__footer{
    max-width: 600px;
    margin: 2rem 5rem;
}
.popup__title{
    font-size: 3rem;

}
.popup__title-latin{
    font-size: 1rem;
    margin: 0 0 1rem .5rem;
    color: #FFD029;
    letter-spacing: 1rem;
}

.popup__description{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
    color: #eee;
    font-weight: 200;
}

.popup__footer{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.popup__footer_sepc{
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.popup__footer_sepc h3 {
    font-size: .8rem;
    font-weight:bold;
    margin:.5rem;

}

.popup__footer_sepc p {
    font-size: .8rem;
    font-weight: 100;
    margin:.5rem;
   

}

.popup__footer_moons h3{
    margin: 1rem 0;
}

.popup__footer_moons p{
    color: #FFD029;
    font-weight: 100;
    font-size: .8rem;
}


.popup__pagination{
    display: flex;
    width: 100%;
    margin: 1rem 0;
    justify-content: flex-end;
}

.popup__btn-prev,
.popup__btn-next {
    padding: .2rem 2rem;
    background: linear-gradient(to right, rgb(14, 44, 71), rgb(3, 27, 49));
    font-size:1rem;
    color: #FFD029;
    outline: none;
    appearance: none;
    border: none;
    transition: all .2s;
}

.popup__btn-prev:hover,
.popup__btn-next:hover {
    padding: .2rem 2rem;
    background: linear-gradient(to right, rgb(27, 82, 131), rgb(5, 42, 76));
    font-size:1rem;
    color: #FFD029;
    transform: scale(1.1);
}

.popup__btn-prev {
    border-radius: 1rem 0 0 1rem;
}
.popup__btn-next {
    border-radius: 0 1rem 1rem 0;
}
/* Pop up section ----------------------------------- */


#universe {
    font-size:10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 2s;
    height: 100%;

}

.solarsystem {
    width: 64em;
    height: 64em;
    position: relative;
    transform-style:preserve-3d;
    transform: rotateX(70deg);
    transition: all 2s;
}



#Solen{
    position: absolute;
    top: 50%; 
    left:50%;
    transform:translate(-50%,-50%) rotateX(-70deg); 
    height: var(--sun-size);
    width: var(--sun-size);
    border-radius: 50%;

    background: radial-gradient(rgb(255, 235, 144) 50%,rgb(255, 205, 41) 70%);
    box-shadow: inset -1em -1em 1em rgba(0, 0, 0, .2),
                        0 0 3em rgb(255, 177, 41);

                transition: all 2s;
                    }
/* Info section  */
.info {
    display: block;
    position: absolute;
    transform: translate(-50%,-50%);
    top:-21em;
    color: rgba(255,255,255,.2);
    margin: 0;
    white-space:nowrap;
    transition: all 2s;
    text-align: center;
    padding: 0;
    transform: translate(-20%,0);
}

.info p{
    display: block;
    font-size: 16px;
    margin: 0;
    
}

.orbit{
    position: absolute;
    top: 50%; 
    left:50%;
    transform:translate(-50%,-50%);
    border-radius: 50%;
    border: .01em solid rgba(255,255,255,.3);
    animation: Orbiting var(--orbit-speed)  linear infinite;
    animation-play-state:running;
}
.planet{
    width: var(--size);
    height: var(--size);
    position: absolute;
    transform:translate(-50%,-50%);
    border-radius: 50%;

}
.planet::before{
    position: absolute;
    content: '';
    top:0;
    color: #fff;
    left: 50%;
    width: .1em ;
    height: 17em;
    transform-origin: bottom;
    transform: translate(0%,-100%) rotateZ(3deg);
    border-left: .1em solid rgba(255,255,255,.2);
}
.position {
    
    position: absolute;
    top: 50%;
    left: 100%;
    transform-style: preserve-3d;
    animation: position-stabalization var(--orbit-speed)  linear infinite reverse;
    animation-play-state:running;
}


/* planet orbit */
/* Merkurius */
#Merkurius{
    --orbit-speed:5s;
    transform-style: preserve-3d;
    width: calc(var(--sun-size) + var(--Merkurius-orbit));
    height: calc(var(--sun-size) + var(--Merkurius-orbit));

}

.Merkurius{
    --size:1em; 
    background-color: #888888;

}

.Merkurius .info{
    display: none;
}

/* Venus */
#Venus{
    --orbit-speed:13s;
    transform-style: preserve-3d;
    width: calc(var(--sun-size) + var(--Venus-orbit));
    height: calc(var(--sun-size) + var(--Venus-orbit));

}

.Venus{
    --size:2em; 
    background-color: #E7CDCD;
}

.Venus .info{
    display: block;
}


/* Jorden */
#Jorden{
    --orbit-speed:12s;
    --moon-orbit: 3.5em;
    transform-style: preserve-3d;
    width: calc(var(--sun-size) + var(--Jorden-orbit));
    height: calc(var(--sun-size) + var(--Jorden-orbit));
    
}

.Jorden{
    --size:2em;
    background-color: rgb(99, 182, 255);
}

.Jorden .info{
    display: block;
}

/* Moon */
#moon{
    --size: .5em;
    transform-style: preserve-3d;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width:  var(--moon-orbit); 
    height: var(--moon-orbit); 
    border-radius: 50%;
    animation: Orbiting-moon 1s linear infinite;

}

.moon{
    transform-style: preserve-3d;
    position: absolute;
    top: 50%;
    left: 100%;
    content: '';
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    transform: translate(-50%,-50%);
    background-color: #eee;
    animation: position-stabalization 1s  linear infinite reverse;

}




/* Mars */
#Mars{
    --orbit-speed:10s;
    transform-style: preserve-3d;
    width: calc(var(--sun-size) + var(--Mars-orbit));
    height: calc(var(--sun-size) + var(--Mars-orbit));

}

.Mars{
    --size:.5em; 
    background-color: #EF5F5F ;
}

.Mars .info{
    display: block;
}


/* Jupitur */
#Jupiter{
    --orbit-speed:15s;
    transform-style: preserve-3d;
    width: calc(var(--sun-size) + var(--Jupiter-orbit));
    height: calc(var(--sun-size) + var(--Jupiter-orbit));

}

.Jupiter{
    --size:6em; 
    background-color: #E29468;
}

.Jupiter .info{
    display: block;
}

/* Saturnus */
#Saturnus{
    --orbit-speed:20s;
    transform-style: preserve-3d;
    width: calc(var(--sun-size) + var(--Saturnus-orbit));
    height: calc(var(--sun-size) + var(--Saturnus-orbit));

}

.Saturnus{
    --size:4em; 
    background-color: #C7AA72;
}
.Saturnus_ring{
    position: absolute;
    top: 50%;
    left: 50%;
    width:4.5em ;
    height: 4.5em;
    transform: translate(-50%,-50%) rotateX(90deg) rotateY(15deg);
    border-radius: 50%;
    content: '';
    background: none;
    border: 1em solid rgba(255,255,255,.4);
    box-sizing: content-box;
}
.Saturnus .info{
    display: block;
}


/* Uranus */
#Uranus{
    --orbit-speed:30s;
    transform-style: preserve-3d;
    width: calc(var(--sun-size) + var(--Uranus-orbit));
    height: calc(var(--sun-size) + var(--Uranus-orbit));
}

.Uranus{
    --size:2em; 
    background-color: #C9D4F1;
}

.Uranus .info{
    display: block;
}

/* Neptunus */
#Neptunus{
    --orbit-speed:40s;
    transform-style: preserve-3d;
    width: calc(var(--sun-size) + var(--Neptunus-orbit));
    height: calc(var(--sun-size) + var(--Neptunus-orbit));

}

.Neptunus{
    --size:2em; 
    background-color: #7A91A7;
}

.Neptunus .info{
    display: block;
}




.Merkurius{z-index: 1;}
.Venus{z-index: 2;}
.Jorden{z-index: 4;}
.Mars{z-index: 5;}
.Jupiter{z-index: 6;}
.Saturnus{z-index: 7;}
.Uranus{z-index: 8;}
.Neptunus{z-index: 9;}

/* Solar System Animation  */
@keyframes Orbiting {
    0% { transform:translate(-50%,-50%) rotateZ(0deg); }

    100% {
        transform:translate(-50%,-50%) rotateZ(360deg);}
}

@keyframes position-stabalization {
    0% { transform:translate(-50%,-50%) rotateX(-90deg) rotateY(360deg);}

    100% {
        transform:translate(-50%,-50%) rotateX(-90deg) rotateY(0deg) ;}
}

@keyframes Orbiting-moon {
    0% { transform:translate(-50%,-50%) rotateX(90deg) rotateZ(0deg);}

    100% {
        transform:translate(-50%,-50%) rotateX(90deg) rotateZ(360deg);}
}

